* {
    background:     {{.Background}};
    background-alt: {{.BlackBright}};
    foreground:     {{.Foreground}};
    selected:       {{.Magenta}};
    active:         {{.Green}};
    urgent:         {{.Red}};
}
